build/* 
mmcfilters.egg-info/*
mmcfilters/__pycache__/*
.eggs/*
dist/*
build_setup_py/*
.DS_Store
.virtual_documents/*
Pipfile
*.d
*.o
notebooks/.ipynb_checkpoints/*
notebooks/.virtual_documents/*
/tests/build
/tests/build
mmcfilters.cpython-312-darwin.so
python/mmcfilters/_version.py
