build/* 
build-*/*
mmcfilters.egg-info/*
mmcfilters/__pycache__/*
__pycache__/
*.py[cod]
*.dSYM/
anaconda_projects/
.vscode/
.eggs/*
dist/*
downloads/*
tmp/
build_setup_py/*
.DS_Store
.virtual_documents/*
Pipfile
*.d
*.o
**/.ipynb_checkpoints/
notebooks/.virtual_documents/*
/tests/build
/tests/build
mmcfilters.cpython-312-darwin.so
python/mmcfilters/_version.py


# ------
# Dennis
# -------
tests/debug/*
tests/build_asan/*
